// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";

// ie fixes
@import "ie-fix";



#ddown1__BV_toggle_{
  background-color: #fff;
  border: none;
  width: 20rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.dropdown-menu{
  width: 20rem;
  text-align: center;
}